# Large sequencing files - never commit these
*.bam
*.bai
*.fastq
*.fastq.gz
*.fa
*.fasta
data/bam/
data/vcf/reference/
screenshots/*.png

# Python
__pycache__/
*.pyc
.env

# Conda
*.egg-info/
dist/
build/
*.sh
